Repository mozmeao/snippets-config: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy oregon-b dev, deploy oregon-b stage, deploy oregon-b prod, deploy frankfurt prod, deploy oregon-b admin

.gitlab-ci.yml:

stages:
  - deploy

.deploy:
  stage: deploy
  retry:
    max: 1  # Add one retry, especially for acceptance-tests
    when: always
  tags:
    - aws
    - meao
  script:
    - kubectl_1.11 apply -f ${DEPLOYMENT}
    - kubectl_1.11 rollout status -f ${DEPLOYMENT}/web-deploy.yaml
    - ./newrelic-notify.sh
    # Retry doesn't seem to work for now. Sleep a few seconds before running the
    # tests.
    - sleep 5s
    - ./acceptance-tests.sh ${URL}

deploy oregon-b dev:
  extends: .deploy
  variables:
    DEPLOYMENT: oregon-b/snippets-dev
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-b.kubeconfig
    NEWRELIC_APP: snippets-dev-oregon-b
    URL: https://snippets-dev.oregon-b.moz.works
  only:
    changes:
      - "oregon-b/snippets-dev/*"
    refs:
      - master

deploy oregon-b stage:
  extends: .deploy
  variables:
    DEPLOYMENT: oregon-b/snippets-stage
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-b.kubeconfig
    NEWRELIC_APP: snippets-stage-oregon-b
    URL: https://snippets.allizom.org
  only:
    changes:
      - "oregon-b/snippets-stage/*"
    refs:
      - master

deploy oregon-b prod:
  extends: .deploy
  variables:
    DEPLOYMENT: oregon-b/snippets-prod
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-b.kubeconfig
    NEWRELIC_APP: snippets-prod-oregon-b
    URL: https://snippets-prod.oregon-b.moz.works
  only:
    changes:
      - "oregon-b/snippets-prod/*"
    refs:
      - master

deploy frankfurt prod:
  extends: .deploy
  variables:
    DEPLOYMENT: frankfurt/snippets-prod
    KUBECONFIG: /home/gitlab-runner/.kube/frankfurt.kubeconfig
    NEWRELIC_APP: snippets-prod-frankfurt
    URL: https://snippets-prod.frankfurt.moz.works
  only:
    changes:
      - "frankfurt/snippets-prod/*"
    refs:
      - master

deploy oregon-b admin:
  extends: .deploy
  variables:
    DEPLOYMENT: oregon-b/snippets-admin
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-b.kubeconfig
    NEWRELIC_APP: snippets-admin-oregon-b
    URL: https://snippets-admin.mozilla.org
  only:
    changes:
      - "oregon-b/snippets-admin/*"
    refs:
      - master

set image to mozmeao/snippets:0910a3bf
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozmeao/snippets:0910a3bf
  oregon-b/snippets-stage/clock-deploy.yaml
  oregon-b/snippets-stage/web-deploy.yaml
Due: deploy oregon-b stage

set image to mozmeao/snippets:0910a3bf
  oregon-b/snippets-admin/clock-deploy.yaml
  oregon-b/snippets-admin/web-deploy.yaml
Due: deploy oregon-b admin

set image to mozmeao/snippets:0910a3bf
  frankfurt/snippets-prod/web-deploy.yaml
  oregon-b/snippets-prod/web-deploy.yaml
Due: deploy oregon-b prod, deploy frankfurt prod

set image to mozmeao/snippets:e521ea3f
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozmeao/snippets:1fd05de8
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozmeao/snippets:1fd05de8
  oregon-b/snippets-admin/clock-deploy.yaml
  oregon-b/snippets-admin/web-deploy.yaml
Due: deploy oregon-b admin

set image to mozmeao/snippets:1fd05de8
  oregon-b/snippets-stage/clock-deploy.yaml
  oregon-b/snippets-stage/web-deploy.yaml
Due: deploy oregon-b stage

set image to mozmeao/snippets:1fd05de8
  frankfurt/snippets-prod/web-deploy.yaml
  oregon-b/snippets-prod/web-deploy.yaml
Due: deploy oregon-b prod, deploy frankfurt prod

set image to mozmeao/snippets:356b2a5d
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozmeao/snippets:356b2a5d
  oregon-b/snippets-stage/clock-deploy.yaml
  oregon-b/snippets-stage/web-deploy.yaml
Due: deploy oregon-b stage

set image to mozmeao/snippets:356b2a5d
  oregon-b/snippets-admin/clock-deploy.yaml
  oregon-b/snippets-admin/web-deploy.yaml
Due: deploy oregon-b admin

set image to mozmeao/snippets:356b2a5d
  frankfurt/snippets-prod/web-deploy.yaml
  oregon-b/snippets-prod/web-deploy.yaml
Due: deploy oregon-b prod, deploy frankfurt prod

set image to mozmeao/snippets:7fa4e95d
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozmeao/snippets:7fa4e95d
  oregon-b/snippets-stage/clock-deploy.yaml
  oregon-b/snippets-stage/web-deploy.yaml
Due: deploy oregon-b stage

set image to mozmeao/snippets:7fa4e95d
  oregon-b/snippets-admin/clock-deploy.yaml
  oregon-b/snippets-admin/web-deploy.yaml
Due: deploy oregon-b admin

set image to mozmeao/snippets:7fa4e95d
  frankfurt/snippets-prod/web-deploy.yaml
  oregon-b/snippets-prod/web-deploy.yaml
Due: deploy oregon-b prod, deploy frankfurt prod

set image to mozmeao/snippets:04562508
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozmeao/snippets:04562508
  oregon-b/snippets-stage/clock-deploy.yaml
  oregon-b/snippets-stage/web-deploy.yaml
Due: deploy oregon-b stage

set image to mozmeao/snippets:04562508
  oregon-b/snippets-admin/clock-deploy.yaml
  oregon-b/snippets-admin/web-deploy.yaml
Due: deploy oregon-b admin

set image to mozmeao/snippets:04562508
  frankfurt/snippets-prod/web-deploy.yaml
  oregon-b/snippets-prod/web-deploy.yaml
Due: deploy oregon-b prod, deploy frankfurt prod

set image to mozmeao/snippets:89c03c9f
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozmeao/snippets:70f40e83
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozmeao/snippets:70f40e83
  oregon-b/snippets-stage/clock-deploy.yaml
  oregon-b/snippets-stage/web-deploy.yaml
Due: deploy oregon-b stage

set image to mozmeao/snippets:70f40e83
  oregon-b/snippets-admin/clock-deploy.yaml
  oregon-b/snippets-admin/web-deploy.yaml
Due: deploy oregon-b admin

set image to mozmeao/snippets:70f40e83
  frankfurt/snippets-prod/web-deploy.yaml
  oregon-b/snippets-prod/web-deploy.yaml
Due: deploy oregon-b prod, deploy frankfurt prod

set image to mozmeao/snippets:34e6e9a2
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozmeao/snippets:34e6e9a2
  oregon-b/snippets-stage/clock-deploy.yaml
  oregon-b/snippets-stage/web-deploy.yaml
Due: deploy oregon-b stage

set image to mozmeao/snippets:34e6e9a2
  oregon-b/snippets-admin/clock-deploy.yaml
  oregon-b/snippets-admin/web-deploy.yaml
Due: deploy oregon-b admin

set image to mozmeao/snippets:34e6e9a2
  frankfurt/snippets-prod/web-deploy.yaml
  oregon-b/snippets-prod/web-deploy.yaml
Due: deploy oregon-b prod, deploy frankfurt prod

set image to mozmeao/snippets:052b7326
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozmeao/snippets:f1bee355
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozmeao/snippets:8d1d0294
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozmeao/snippets:8d1d0294
  oregon-b/snippets-stage/clock-deploy.yaml
  oregon-b/snippets-stage/web-deploy.yaml
Due: deploy oregon-b stage

set image to mozmeao/snippets:8d1d0294
  oregon-b/snippets-admin/clock-deploy.yaml
  oregon-b/snippets-admin/web-deploy.yaml
Due: deploy oregon-b admin

set image to mozmeao/snippets:b603f776
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozmeao/snippets:b603f776
  oregon-b/snippets-admin/clock-deploy.yaml
  oregon-b/snippets-admin/web-deploy.yaml
Due: deploy oregon-b admin

set image to mozmeao/snippets:b603f776
  oregon-b/snippets-stage/clock-deploy.yaml
  oregon-b/snippets-stage/web-deploy.yaml
Due: deploy oregon-b stage

set image to mozmeao/snippets:b603f776
  frankfurt/snippets-prod/web-deploy.yaml
  oregon-b/snippets-prod/web-deploy.yaml
Due: deploy oregon-b prod, deploy frankfurt prod

set image to mozmeao/snippets:5d62c22c
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev
