Repository mozmeao/snippets-config: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy oregon-b dev, deploy oregon-b stage, deploy oregon-b prod, deploy frankfurt prod, deploy oregon-b admin

.gitlab-ci.yml:

stages:
  - deploy

.deploy:
  stage: deploy
  retry:
    max: 1  # Add one retry, especially for acceptance-tests
    when: always
  tags:
    - aws
    - meao
  script:
    - kubectl_1.11 apply -f ${DEPLOYMENT}
    - kubectl_1.11 rollout status -f ${DEPLOYMENT}/web-deploy.yaml
    - ./newrelic-notify.sh
    # Retry doesn't seem to work for now. Sleep a few seconds before running the
    # tests.
    - sleep 5s
    - ./acceptance-tests.sh ${URL}

deploy oregon-b dev:
  extends: .deploy
  variables:
    DEPLOYMENT: oregon-b/snippets-dev
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-b.kubeconfig
    NEWRELIC_APP: snippets-dev-oregon-b
    URL: https://snippets-dev.oregon-b.moz.works
  only:
    changes:
      - "oregon-b/snippets-dev/*"
    refs:
      - master

deploy oregon-b stage:
  extends: .deploy
  variables:
    DEPLOYMENT: oregon-b/snippets-stage
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-b.kubeconfig
    NEWRELIC_APP: snippets-stage-oregon-b
    URL: https://snippets.allizom.org
  only:
    changes:
      - "oregon-b/snippets-stage/*"
    refs:
      - master

deploy oregon-b prod:
  extends: .deploy
  variables:
    DEPLOYMENT: oregon-b/snippets-prod
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-b.kubeconfig
    NEWRELIC_APP: snippets-prod-oregon-b
    URL: https://snippets-prod.oregon-b.moz.works
  only:
    changes:
      - "oregon-b/snippets-prod/*"
    refs:
      - master

deploy frankfurt prod:
  extends: .deploy
  variables:
    DEPLOYMENT: frankfurt/snippets-prod
    KUBECONFIG: /home/gitlab-runner/.kube/frankfurt.kubeconfig
    NEWRELIC_APP: snippets-prod-frankfurt
    URL: https://snippets-prod.frankfurt.moz.works
  only:
    changes:
      - "frankfurt/snippets-prod/*"
    refs:
      - master

deploy oregon-b admin:
  extends: .deploy
  variables:
    DEPLOYMENT: oregon-b/snippets-admin
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-b.kubeconfig
    NEWRELIC_APP: snippets-admin-oregon-b
    URL: https://snippets-admin.mozilla.org
  only:
    changes:
      - "oregon-b/snippets-admin/*"
    refs:
      - master

set image to mozorg/snippets:7275d4b4
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozorg/snippets:7275d4b4
  oregon-b/snippets-stage/clock-deploy.yaml
  oregon-b/snippets-stage/web-deploy.yaml
Due: deploy oregon-b stage

set image to mozorg/snippets:7275d4b4
  oregon-b/snippets-admin/clock-deploy.yaml
  oregon-b/snippets-admin/web-deploy.yaml
Due: deploy oregon-b admin

set image to mozorg/snippets:7275d4b4
  frankfurt/snippets-prod/web-deploy.yaml
  oregon-b/snippets-prod/web-deploy.yaml
Due: deploy oregon-b prod, deploy frankfurt prod

Add jupyter deploy & notebooks cronjob
  oregon-b/snippets-admin/jupyter-cron.yaml
  oregon-b/snippets-admin/jupyter-deploy.yaml
Due: deploy oregon-b admin

Eliminate CSV env vars, switch to newest jupyter image
  oregon-b/snippets-admin/jupyter-deploy.yaml
Due: deploy oregon-b admin

Eliminate unneeded env vars from jupyter-cron.yaml
  oregon-b/snippets-admin/jupyter-cron.yaml
Due: deploy oregon-b admin

set image to mozorg/snippets:af9b14cf
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

Remove jupyter-cron
  oregon-b/snippets-admin/jupyter-cron.yaml
Due: deploy oregon-b admin

Remove OIDC_* from jupyter-deploy.yaml
  oregon-b/snippets-dev/jupyter-deploy.yaml
Due: deploy oregon-b dev

Remove ALLOWED_CIDR_NETS
  oregon-b/snippets-dev/jupyter-deploy.yaml
Due: deploy oregon-b dev

Remove SLACK_* from jupyter-deploy.yaml
  oregon-b/snippets-dev/jupyter-deploy.yaml
Due: deploy oregon-b dev

Add oregon-b/snippets-dev/jupyter-deploy.yaml
  oregon-b/snippets-dev/jupyter-deploy.yaml
Due: deploy oregon-b dev

Remove DEAD_MANS_* from jupyter-deploy.yaml
  oregon-b/snippets-dev/jupyter-deploy.yaml
Due: deploy oregon-b dev

Port improvements between jupyter deploys
  oregon-b/snippets-admin/jupyter-deploy.yaml
  oregon-b/snippets-dev/jupyter-deploy.yaml
Due: deploy oregon-b dev, deploy oregon-b admin

set image to mozorg/snippets:d6e3f0a6
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/jupyter-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozorg/snippets:4f1f62b3
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/jupyter-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

Set image to mozorg/snippets:ab27b5a0
  oregon-b/snippets-admin/web-deploy.yaml
Due: deploy oregon-b admin

Restore image to 7275d4b4
  oregon-b/snippets-admin/web-deploy.yaml
Due: deploy oregon-b admin

Set image to 6629e3f0
  oregon-b/snippets-admin/web-deploy.yaml
Due: deploy oregon-b admin

Revert "Set image to 6629e3f0"
  oregon-b/snippets-admin/web-deploy.yaml
Due: deploy oregon-b admin

set image to mozorg/snippets:b6a24959
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/jupyter-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozorg/snippets:5909cf7d
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/jupyter-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozorg/snippets:5909cf7d
  oregon-b/snippets-stage/clock-deploy.yaml
  oregon-b/snippets-stage/web-deploy.yaml
Due: deploy oregon-b stage

set image to mozorg/snippets:5909cf7d
  oregon-b/snippets-admin/clock-deploy.yaml
  oregon-b/snippets-admin/jupyter-deploy.yaml
  oregon-b/snippets-admin/web-deploy.yaml
Due: deploy oregon-b admin

set image to mozorg/snippets:5909cf7d
  frankfurt/snippets-prod/web-deploy.yaml
  oregon-b/snippets-prod/web-deploy.yaml
Due: deploy oregon-b prod, deploy frankfurt prod

set image to mozorg/snippets:7a9de318
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/jupyter-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozorg/snippets:7a9de318
  oregon-b/snippets-stage/clock-deploy.yaml
  oregon-b/snippets-stage/web-deploy.yaml
Due: deploy oregon-b stage

set image to mozorg/snippets:7a9de318
  oregon-b/snippets-admin/clock-deploy.yaml
  oregon-b/snippets-admin/jupyter-deploy.yaml
  oregon-b/snippets-admin/web-deploy.yaml
Due: deploy oregon-b admin

set image to mozorg/snippets:7a9de318
  frankfurt/snippets-prod/web-deploy.yaml
  oregon-b/snippets-prod/web-deploy.yaml
Due: deploy oregon-b prod, deploy frankfurt prod
