Repository mozmeao/snippets-config: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy oregon-b dev, deploy oregon-b stage, deploy oregon-b prod, deploy frankfurt prod, deploy oregon-b admin

.gitlab-ci.yml:

stages:
  - deploy

.deploy:
  stage: deploy
  retry:
    max: 1  # Add one retry, especially for acceptance-tests
    when: always
  tags:
    - aws
    - meao
  script:
    - kubectl_1.11 apply -f ${DEPLOYMENT}
    - kubectl_1.11 rollout status -f ${DEPLOYMENT}/web-deploy.yaml
    - ./newrelic-notify.sh
    # Retry doesn't seem to work for now. Sleep a few seconds before running the
    # tests.
    - sleep 5s
    - ./acceptance-tests.sh ${URL}

deploy oregon-b dev:
  extends: .deploy
  variables:
    DEPLOYMENT: oregon-b/snippets-dev
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-b.kubeconfig
    NEWRELIC_APP: snippets-dev-oregon-b
    URL: https://snippets-dev.oregon-b.moz.works
  only:
    changes:
      - "oregon-b/snippets-dev/*"
    refs:
      - master

deploy oregon-b stage:
  extends: .deploy
  variables:
    DEPLOYMENT: oregon-b/snippets-stage
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-b.kubeconfig
    NEWRELIC_APP: snippets-stage-oregon-b
    URL: https://snippets.allizom.org
  only:
    changes:
      - "oregon-b/snippets-stage/*"
    refs:
      - master

deploy oregon-b prod:
  extends: .deploy
  variables:
    DEPLOYMENT: oregon-b/snippets-prod
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-b.kubeconfig
    NEWRELIC_APP: snippets-prod-oregon-b
    URL: https://snippets-prod.oregon-b.moz.works
  only:
    changes:
      - "oregon-b/snippets-prod/*"
    refs:
      - master

deploy frankfurt prod:
  extends: .deploy
  variables:
    DEPLOYMENT: frankfurt/snippets-prod
    KUBECONFIG: /home/gitlab-runner/.kube/frankfurt.kubeconfig
    NEWRELIC_APP: snippets-prod-frankfurt
    URL: https://snippets-prod.frankfurt.moz.works
  only:
    changes:
      - "frankfurt/snippets-prod/*"
    refs:
      - master

deploy oregon-b admin:
  extends: .deploy
  variables:
    DEPLOYMENT: oregon-b/snippets-admin
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-b.kubeconfig
    NEWRELIC_APP: snippets-admin-oregon-b
    URL: https://snippets-admin.mozilla.org
  only:
    changes:
      - "oregon-b/snippets-admin/*"
    refs:
      - master

set image to mozorg/snippets:7fbbb557
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

Add livenessProbe to oregon-b snippets-dev web-deploy
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

Add livenessProbe to oregon-b stage web-deploy
  oregon-b/snippets-stage/web-deploy.yaml
Due: deploy oregon-b stage

Add livenessProbe to oregon-b snippets-dev web-deploy (#32)
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozorg/snippets:dc1a7be0
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozorg/snippets:562dbc49
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozorg/snippets:562dbc49
  oregon-b/snippets-stage/clock-deploy.yaml
  oregon-b/snippets-stage/web-deploy.yaml
Due: deploy oregon-b stage

set image to mozorg/snippets:f71da567
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozorg/snippets:f71da567
  oregon-b/snippets-stage/clock-deploy.yaml
  oregon-b/snippets-stage/web-deploy.yaml
Due: deploy oregon-b stage

set image to mozorg/snippets:f71da567
  oregon-b/snippets-admin/clock-deploy.yaml
  oregon-b/snippets-admin/web-deploy.yaml
Due: deploy oregon-b admin

set image to mozorg/snippets:f71da567
  frankfurt/snippets-prod/web-deploy.yaml
  oregon-b/snippets-prod/web-deploy.yaml
Due: deploy oregon-b prod, deploy frankfurt prod

Add livenessProbes to prod in frankfurt & oregon-b
  frankfurt/snippets-prod/web-deploy.yaml
  oregon-b/snippets-prod/web-deploy.yaml
Due: deploy oregon-b prod, deploy frankfurt prod

Add livenessProbe to snippets-admin web-deploy
  oregon-b/snippets-admin/web-deploy.yaml
Due: deploy oregon-b admin

set image to mozorg/snippets:a6119b7a
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozorg/snippets:a6119b7a
  oregon-b/snippets-stage/clock-deploy.yaml
  oregon-b/snippets-stage/web-deploy.yaml
Due: deploy oregon-b stage

set image to mozorg/snippets:a6119b7a
  oregon-b/snippets-admin/clock-deploy.yaml
  oregon-b/snippets-admin/web-deploy.yaml
Due: deploy oregon-b admin

set image to mozorg/snippets:a6119b7a
  frankfurt/snippets-prod/web-deploy.yaml
  oregon-b/snippets-prod/web-deploy.yaml
Due: deploy oregon-b prod, deploy frankfurt prod

set image to mozorg/snippets:67a94f43
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozorg/snippets:0116c84c
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozorg/snippets:644c482f
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozorg/snippets:f68cde1c
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozorg/snippets:19a42b2c
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozorg/snippets:5a2fb3a0
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozorg/snippets:cf1c0238
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozorg/snippets:4974df93
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozorg/snippets:eb520d5a
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozorg/snippets:eb520d5a
  oregon-b/snippets-stage/clock-deploy.yaml
  oregon-b/snippets-stage/web-deploy.yaml
Due: deploy oregon-b stage

set image to mozorg/snippets:eb520d5a
  oregon-b/snippets-admin/clock-deploy.yaml
  oregon-b/snippets-admin/web-deploy.yaml
Due: deploy oregon-b admin

set image to mozorg/snippets:eb520d5a
  frankfurt/snippets-prod/web-deploy.yaml
  oregon-b/snippets-prod/web-deploy.yaml
Due: deploy oregon-b prod, deploy frankfurt prod

Update web-deploy.yaml
  frankfurt/snippets-prod/web-deploy.yaml
Due: deploy frankfurt prod

Update web-deploy.yaml
  oregon-b/snippets-prod/web-deploy.yaml
Due: deploy oregon-b prod

set image to mozorg/snippets:d0788799
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozorg/snippets:0022c488
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozorg/snippets:813f4643
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozorg/snippets:f9fffeed
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozorg/snippets:44c21355
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozorg/snippets:44c21355
  oregon-b/snippets-stage/clock-deploy.yaml
  oregon-b/snippets-stage/web-deploy.yaml
Due: deploy oregon-b stage

set image to mozorg/snippets:44c21355
  oregon-b/snippets-admin/clock-deploy.yaml
  oregon-b/snippets-admin/web-deploy.yaml
Due: deploy oregon-b admin

set image to mozorg/snippets:44c21355
  frankfurt/snippets-prod/web-deploy.yaml
  oregon-b/snippets-prod/web-deploy.yaml
Due: deploy oregon-b prod, deploy frankfurt prod

set image to mozorg/snippets:af20a441
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev
