Repository mozmeao/snippets-config: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy oregon-b dev, deploy oregon-b stage, deploy oregon-b prod, deploy frankfurt prod, deploy oregon-b admin

deploy oregon-b dev:
  stage: deploy
  retry:
    max: 1
    when: always
  tags:
  - aws
  - meao
  script:
  - kubectl_1.11 apply -f ${DEPLOYMENT}
  - kubectl_1.11 rollout status -f ${DEPLOYMENT}/web-deploy.yaml
  - ./newrelic-notify.sh
  - sleep 5s
  - ./acceptance-tests.sh ${URL}
  variables:
    DEPLOYMENT: oregon-b/snippets-dev
  ...

deploy oregon-b stage:
  stage: deploy
  retry:
    max: 1
    when: always
  tags:
  - aws
  - meao
  script:
  - kubectl_1.11 apply -f ${DEPLOYMENT}
  - kubectl_1.11 rollout status -f ${DEPLOYMENT}/web-deploy.yaml
  - ./newrelic-notify.sh
  - sleep 5s
  - ./acceptance-tests.sh ${URL}
  variables:
    DEPLOYMENT: oregon-b/snippets-stage
  ...

deploy oregon-b prod:
  stage: deploy
  retry:
    max: 1
    when: always
  tags:
  - aws
  - meao
  script:
  - kubectl_1.11 apply -f ${DEPLOYMENT}
  - kubectl_1.11 rollout status -f ${DEPLOYMENT}/web-deploy.yaml
  - ./newrelic-notify.sh
  - sleep 5s
  - ./acceptance-tests.sh ${URL}
  variables:
    DEPLOYMENT: oregon-b/snippets-prod
  ...

deploy frankfurt prod:
  stage: deploy
  retry:
    max: 1
    when: always
  tags:
  - aws
  - meao
  script:
  - kubectl_1.11 apply -f ${DEPLOYMENT}
  - kubectl_1.11 rollout status -f ${DEPLOYMENT}/web-deploy.yaml
  - ./newrelic-notify.sh
  - sleep 5s
  - ./acceptance-tests.sh ${URL}
  variables:
    DEPLOYMENT: frankfurt/snippets-prod
  ...

deploy oregon-b admin:
  stage: deploy
  retry:
    max: 1
    when: always
  tags:
  - aws
  - meao
  script:
  - kubectl_1.11 apply -f ${DEPLOYMENT}
  - kubectl_1.11 rollout status -f ${DEPLOYMENT}/web-deploy.yaml
  - ./newrelic-notify.sh
  - sleep 5s
  - ./acceptance-tests.sh ${URL}
  variables:
    DEPLOYMENT: oregon-b/snippets-admin
  ...

set image to mozmeao/snippets:68a93303
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozmeao/snippets:70ad933d
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozmeao/snippets:70ad933d
  oregon-b/snippets-stage/clock-deploy.yaml
  oregon-b/snippets-stage/web-deploy.yaml
Due: deploy oregon-b stage

set image to mozmeao/snippets:70ad933d
  oregon-b/snippets-admin/clock-deploy.yaml
  oregon-b/snippets-admin/web-deploy.yaml
Due: deploy oregon-b admin

set image to mozmeao/snippets:70ad933d
  frankfurt/snippets-prod/web-deploy.yaml
  oregon-b/snippets-prod/web-deploy.yaml
Due: deploy oregon-b prod, deploy frankfurt prod

set image to mozmeao/snippets:8dee499c
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozmeao/snippets:8dee499c
  frankfurt/snippets-prod/web-deploy.yaml
  oregon-b/snippets-prod/web-deploy.yaml
Due: deploy oregon-b prod, deploy frankfurt prod

set image to mozmeao/snippets:8dee499c
  oregon-b/snippets-stage/clock-deploy.yaml
  oregon-b/snippets-stage/web-deploy.yaml
Due: deploy oregon-b stage

set image to mozmeao/snippets:8dee499c
  oregon-b/snippets-admin/clock-deploy.yaml
  oregon-b/snippets-admin/web-deploy.yaml
Due: deploy oregon-b admin

set image to mozmeao/snippets:d1fbeec8
  oregon-b/snippets-stage/clock-deploy.yaml
  oregon-b/snippets-stage/web-deploy.yaml
Due: deploy oregon-b stage

set image to mozmeao/snippets:d1fbeec8
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozmeao/snippets:d1fbeec8
  frankfurt/snippets-prod/web-deploy.yaml
  oregon-b/snippets-prod/web-deploy.yaml
Due: deploy oregon-b prod, deploy frankfurt prod

set image to mozmeao/snippets:d1fbeec8
  oregon-b/snippets-admin/clock-deploy.yaml
  oregon-b/snippets-admin/web-deploy.yaml
Due: deploy oregon-b admin

set image to mozmeao/snippets:2793ea14
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozmeao/snippets:2793ea14
  oregon-b/snippets-stage/clock-deploy.yaml
  oregon-b/snippets-stage/web-deploy.yaml
Due: deploy oregon-b stage

set image to mozmeao/snippets:2793ea14
  oregon-b/snippets-admin/clock-deploy.yaml
  oregon-b/snippets-admin/web-deploy.yaml
Due: deploy oregon-b admin

set image to mozmeao/snippets:f6909fe4
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozmeao/snippets:f6909fe4
  oregon-b/snippets-stage/clock-deploy.yaml
  oregon-b/snippets-stage/web-deploy.yaml
Due: deploy oregon-b stage

set image to mozmeao/snippets:bc78867c
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozmeao/snippets:bc78867c
  oregon-b/snippets-stage/clock-deploy.yaml
  oregon-b/snippets-stage/web-deploy.yaml
Due: deploy oregon-b stage

set image to mozmeao/snippets:bc78867c
  oregon-b/snippets-admin/clock-deploy.yaml
  oregon-b/snippets-admin/web-deploy.yaml
Due: deploy oregon-b admin

set image to mozmeao/snippets:bc78867c
  frankfurt/snippets-prod/web-deploy.yaml
  oregon-b/snippets-prod/web-deploy.yaml
Due: deploy oregon-b prod, deploy frankfurt prod

set image to mozmeao/snippets:f29a3af2
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozmeao/snippets:f29a3af2
  oregon-b/snippets-stage/clock-deploy.yaml
  oregon-b/snippets-stage/web-deploy.yaml
Due: deploy oregon-b stage

set image to mozmeao/snippets:f29a3af2
  oregon-b/snippets-admin/clock-deploy.yaml
  oregon-b/snippets-admin/web-deploy.yaml
Due: deploy oregon-b admin

set image to mozmeao/snippets:f29a3af2
  frankfurt/snippets-prod/web-deploy.yaml
  oregon-b/snippets-prod/web-deploy.yaml
Due: deploy oregon-b prod, deploy frankfurt prod

set image to mozmeao/snippets:8dcc8674
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozmeao/snippets:8dcc8674
  oregon-b/snippets-stage/clock-deploy.yaml
  oregon-b/snippets-stage/web-deploy.yaml
Due: deploy oregon-b stage

set image to mozmeao/snippets:8dcc8674
  oregon-b/snippets-admin/clock-deploy.yaml
  oregon-b/snippets-admin/web-deploy.yaml
Due: deploy oregon-b admin

set image to mozmeao/snippets:8dcc8674
  frankfurt/snippets-prod/web-deploy.yaml
  oregon-b/snippets-prod/web-deploy.yaml
Due: deploy oregon-b prod, deploy frankfurt prod

set image to mozmeao/snippets:707f3888
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozmeao/snippets:5a02b0cd
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozmeao/snippets:c938e21b
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

Remove STATSD_* entries.
  frankfurt/snippets-prod/web-deploy.yaml
  oregon-b/snippets-admin/web-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
  oregon-b/snippets-prod/web-deploy.yaml
  oregon-b/snippets-stage/web-deploy.yaml
Due: deploy oregon-b dev, deploy oregon-b stage, deploy oregon-b prod, deploy frankfurt prod, deploy oregon-b admin

move to oregon-a
  oregon-a/snippets-admin/clock-deploy.yaml
  oregon-a/snippets-admin/ns.yaml
  oregon-a/snippets-admin/web-deploy.yaml
  oregon-a/snippets-admin/web-svc.yaml
  oregon-a/snippets-dev/clock-deploy.yaml
  oregon-a/snippets-dev/ns.yaml
  oregon-a/snippets-dev/web-deploy.yaml
  oregon-a/snippets-dev/web-svc.yaml
  oregon-a/snippets-prod/ns.yaml
  oregon-a/snippets-prod/web-deploy.yaml
  oregon-a/snippets-prod/web-svc.yaml
  oregon-a/snippets-stage/clock-deploy.yaml
  oregon-a/snippets-stage/ns.yaml
  oregon-a/snippets-stage/web-deploy.yaml
  oregon-a/snippets-stage/web-svc.yaml
  oregon-b/snippets-admin/web-svc.yaml
  oregon-b/snippets-dev/web-svc.yaml
  oregon-b/snippets-prod/web-svc.yaml
  oregon-b/snippets-stage/web-svc.yaml
Due: deploy oregon-b dev, deploy oregon-b stage, deploy oregon-b prod, deploy oregon-b admin

Set oregon-a
  .gitlab-ci.yml
Due: none

Typos
  .gitlab-ci.yml
Due: none

set image to mozmeao/snippets:231e74ec
  oregon-a/snippets-dev/clock-deploy.yaml
  oregon-a/snippets-dev/web-deploy.yaml
Due: none

set image to mozmeao/snippets:231e74ec
  frankfurt/snippets-prod/web-deploy.yaml
  oregon-a/snippets-prod/web-deploy.yaml
Due: deploy frankfurt prod

set image to mozmeao/snippets:231e74ec
  oregon-a/snippets-admin/clock-deploy.yaml
  oregon-a/snippets-admin/web-deploy.yaml
Due: none

Path conditions:
  deploy oregon-b dev: any of: oregon-b/snippets-dev/*
  deploy oregon-b stage: any of: oregon-b/snippets-stage/*
  deploy oregon-b prod: any of: oregon-b/snippets-prod/*
  deploy frankfurt prod: any of: frankfurt/snippets-prod/*
  deploy oregon-b admin: any of: oregon-b/snippets-admin/*
