Repository mozmeao/snippets-config: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy oregon-b dev, deploy oregon-b stage, deploy oregon-b prod, deploy frankfurt prod, deploy oregon-b admin

deploy oregon-b dev:
  stage: deploy
  retry:
    max: 1
    when: always
  tags:
  - aws
  - meao
  script:
  - kubectl_1.11 apply -f ${DEPLOYMENT}
  - kubectl_1.11 rollout status -f ${DEPLOYMENT}/web-deploy.yaml
  - ./newrelic-notify.sh
  - sleep 5s
  - ./acceptance-tests.sh ${URL}
  variables:
    DEPLOYMENT: oregon-b/snippets-dev
  ...

deploy oregon-b stage:
  stage: deploy
  retry:
    max: 1
    when: always
  tags:
  - aws
  - meao
  script:
  - kubectl_1.11 apply -f ${DEPLOYMENT}
  - kubectl_1.11 rollout status -f ${DEPLOYMENT}/web-deploy.yaml
  - ./newrelic-notify.sh
  - sleep 5s
  - ./acceptance-tests.sh ${URL}
  variables:
    DEPLOYMENT: oregon-b/snippets-stage
  ...

deploy oregon-b prod:
  stage: deploy
  retry:
    max: 1
    when: always
  tags:
  - aws
  - meao
  script:
  - kubectl_1.11 apply -f ${DEPLOYMENT}
  - kubectl_1.11 rollout status -f ${DEPLOYMENT}/web-deploy.yaml
  - ./newrelic-notify.sh
  - sleep 5s
  - ./acceptance-tests.sh ${URL}
  variables:
    DEPLOYMENT: oregon-b/snippets-prod
  ...

deploy frankfurt prod:
  stage: deploy
  retry:
    max: 1
    when: always
  tags:
  - aws
  - meao
  script:
  - kubectl_1.11 apply -f ${DEPLOYMENT}
  - kubectl_1.11 rollout status -f ${DEPLOYMENT}/web-deploy.yaml
  - ./newrelic-notify.sh
  - sleep 5s
  - ./acceptance-tests.sh ${URL}
  variables:
    DEPLOYMENT: frankfurt/snippets-prod
  ...

deploy oregon-b admin:
  stage: deploy
  retry:
    max: 1
    when: always
  tags:
  - aws
  - meao
  script:
  - kubectl_1.11 apply -f ${DEPLOYMENT}
  - kubectl_1.11 rollout status -f ${DEPLOYMENT}/web-deploy.yaml
  - ./newrelic-notify.sh
  - sleep 5s
  - ./acceptance-tests.sh ${URL}
  variables:
    DEPLOYMENT: oregon-b/snippets-admin
  ...

[Issue #1291] Remove CSV export related configuration
  frankfurt/snippets-prod/web-deploy.yaml
  oregon-b/snippets-admin/clock-deploy.yaml
  oregon-b/snippets-admin/web-deploy.yaml
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
  oregon-b/snippets-prod/web-deploy.yaml
  oregon-b/snippets-stage/clock-deploy.yaml
  oregon-b/snippets-stage/web-deploy.yaml
Due: deploy oregon-b dev, deploy oregon-b stage, deploy oregon-b prod, deploy frankfurt prod, deploy oregon-b admin

set image to mozorg/snippets:c160afbd
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/jupyter-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozorg/snippets:c160afbd
  oregon-b/snippets-stage/clock-deploy.yaml
  oregon-b/snippets-stage/web-deploy.yaml
Due: deploy oregon-b stage

set image to mozorg/snippets:c160afbd
  oregon-b/snippets-admin/clock-deploy.yaml
  oregon-b/snippets-admin/jupyter-deploy.yaml
  oregon-b/snippets-admin/web-deploy.yaml
Due: deploy oregon-b admin

set image to mozorg/snippets:c160afbd
  frankfurt/snippets-prod/web-deploy.yaml
  oregon-b/snippets-prod/web-deploy.yaml
Due: deploy oregon-b prod, deploy frankfurt prod

set image to mozorg/snippets:086e1d77
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/jupyter-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozorg/snippets:e2361416
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/jupyter-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozorg/snippets:e2361416
  oregon-b/snippets-stage/clock-deploy.yaml
  oregon-b/snippets-stage/web-deploy.yaml
Due: deploy oregon-b stage

set image to mozorg/snippets:e2361416
  oregon-b/snippets-admin/clock-deploy.yaml
  oregon-b/snippets-admin/jupyter-deploy.yaml
  oregon-b/snippets-admin/web-deploy.yaml
Due: deploy oregon-b admin

set image to mozorg/snippets:e2361416
  frankfurt/snippets-prod/web-deploy.yaml
  oregon-b/snippets-prod/web-deploy.yaml
Due: deploy oregon-b prod, deploy frankfurt prod

set image to mozorg/snippets:f714f4bc
  oregon-b/snippets-stage/clock-deploy.yaml
  oregon-b/snippets-stage/web-deploy.yaml
Due: deploy oregon-b stage

set image to mozorg/snippets:f714f4bc
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/jupyter-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozorg/snippets:f714f4bc
  oregon-b/snippets-admin/clock-deploy.yaml
  oregon-b/snippets-admin/jupyter-deploy.yaml
  oregon-b/snippets-admin/web-deploy.yaml
Due: deploy oregon-b admin

set image to mozorg/snippets:f714f4bc
  frankfurt/snippets-prod/web-deploy.yaml
  oregon-b/snippets-prod/web-deploy.yaml
Due: deploy oregon-b prod, deploy frankfurt prod

set image to mozorg/snippets:c8c8b5bf
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/jupyter-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozorg/snippets:6808dbe1
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/jupyter-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozorg/snippets:16ae90cd
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/jupyter-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozorg/snippets:1bbb4493
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/jupyter-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozorg/snippets:1bbb4493
  oregon-b/snippets-stage/clock-deploy.yaml
  oregon-b/snippets-stage/web-deploy.yaml
Due: deploy oregon-b stage

set image to mozorg/snippets:1bbb4493
  oregon-b/snippets-admin/clock-deploy.yaml
  oregon-b/snippets-admin/jupyter-deploy.yaml
  oregon-b/snippets-admin/web-deploy.yaml
Due: deploy oregon-b admin

set image to mozorg/snippets:1bbb4493
  frankfurt/snippets-prod/web-deploy.yaml
  oregon-b/snippets-prod/web-deploy.yaml
Due: deploy oregon-b prod, deploy frankfurt prod

set image to mozorg/snippets:45f197c1
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/jupyter-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozorg/snippets:45f197c1
  oregon-b/snippets-stage/clock-deploy.yaml
  oregon-b/snippets-stage/web-deploy.yaml
Due: deploy oregon-b stage

set image to mozorg/snippets:45f197c1
  oregon-b/snippets-admin/clock-deploy.yaml
  oregon-b/snippets-admin/jupyter-deploy.yaml
  oregon-b/snippets-admin/web-deploy.yaml
Due: deploy oregon-b admin

set image to mozorg/snippets:45f197c1
  frankfurt/snippets-prod/web-deploy.yaml
  oregon-b/snippets-prod/web-deploy.yaml
Due: deploy oregon-b prod, deploy frankfurt prod

Include Release Jobs in Nightly Bundles
  frankfurt/snippets-prod/web-deploy.yaml
Due: deploy frankfurt prod

Include Release Jobs in Nightly Bundles
  oregon-b/snippets-prod/web-deploy.yaml
Due: deploy oregon-b prod

Include Release Jobs in Nightly Bundles
  oregon-b/snippets-admin/web-deploy.yaml
Due: deploy oregon-b admin

Include Release Jobs in Nightly Bundles
  oregon-b/snippets-admin/clock-deploy.yaml
Due: deploy oregon-b admin

set image to mozorg/snippets:ec7bdb64
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/jupyter-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozorg/snippets:ec7bdb64
  oregon-b/snippets-admin/clock-deploy.yaml
  oregon-b/snippets-admin/jupyter-deploy.yaml
  oregon-b/snippets-admin/web-deploy.yaml
Due: deploy oregon-b admin

set image to mozorg/snippets:ec7bdb64
  frankfurt/snippets-prod/web-deploy.yaml
  oregon-b/snippets-prod/web-deploy.yaml
Due: deploy oregon-b prod, deploy frankfurt prod

set image to mozorg/snippets:ec7bdb64
  oregon-b/snippets-stage/clock-deploy.yaml
  oregon-b/snippets-stage/web-deploy.yaml
Due: deploy oregon-b stage

set image to mozorg/snippets:7a5551ea
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/jupyter-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozorg/snippets:7a5551ea
  oregon-b/snippets-stage/clock-deploy.yaml
  oregon-b/snippets-stage/web-deploy.yaml
Due: deploy oregon-b stage

set image to mozorg/snippets:7a5551ea
  oregon-b/snippets-admin/clock-deploy.yaml
  oregon-b/snippets-admin/jupyter-deploy.yaml
  oregon-b/snippets-admin/web-deploy.yaml
Due: deploy oregon-b admin

set image to mozorg/snippets:7a5551ea
  frankfurt/snippets-prod/web-deploy.yaml
  oregon-b/snippets-prod/web-deploy.yaml
Due: deploy oregon-b prod, deploy frankfurt prod

Remove Jupyter deployments.
  oregon-b/snippets-admin/jupyter-deploy.yaml
  oregon-b/snippets-dev/jupyter-deploy.yaml
Due: deploy oregon-b dev, deploy oregon-b admin

set image to mozorg/snippets:5c3c1e4d
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozorg/snippets:5c3c1e4d
  oregon-b/snippets-stage/clock-deploy.yaml
  oregon-b/snippets-stage/web-deploy.yaml
Due: deploy oregon-b stage

Path conditions:
  deploy oregon-b dev: any of: oregon-b/snippets-dev/*
  deploy oregon-b stage: any of: oregon-b/snippets-stage/*
  deploy oregon-b prod: any of: oregon-b/snippets-prod/*
  deploy frankfurt prod: any of: frankfurt/snippets-prod/*
  deploy oregon-b admin: any of: oregon-b/snippets-admin/*
