Repository mozmeao/snippets-config: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy oregon-b dev, deploy oregon-b stage, deploy oregon-b prod, deploy frankfurt prod, deploy oregon-b admin

.gitlab-ci.yml:

stages:
  - deploy

.deploy:
  stage: deploy
  retry:
    max: 1  # Add one retry, especially for acceptance-tests
    when: always
  tags:
    - aws
    - meao
  script:
    - kubectl_1.11 apply -f ${DEPLOYMENT}
    - kubectl_1.11 rollout status -f ${DEPLOYMENT}/web-deploy.yaml
    - ./newrelic-notify.sh
    # Retry doesn't seem to work for now. Sleep a few seconds before running the
    # tests.
    - sleep 5s
    - ./acceptance-tests.sh ${URL}

deploy oregon-b dev:
  extends: .deploy
  variables:
    DEPLOYMENT: oregon-b/snippets-dev
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-b.kubeconfig
    NEWRELIC_APP: snippets-dev-oregon-b
    URL: https://snippets-dev.oregon-b.moz.works
  only:
    changes:
      - "oregon-b/snippets-dev/*"
    refs:
      - master

deploy oregon-b stage:
  extends: .deploy
  variables:
    DEPLOYMENT: oregon-b/snippets-stage
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-b.kubeconfig
    NEWRELIC_APP: snippets-stage-oregon-b
    URL: https://snippets.allizom.org
  only:
    changes:
      - "oregon-b/snippets-stage/*"
    refs:
      - master

deploy oregon-b prod:
  extends: .deploy
  variables:
    DEPLOYMENT: oregon-b/snippets-prod
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-b.kubeconfig
    NEWRELIC_APP: snippets-prod-oregon-b
    URL: https://snippets-prod.oregon-b.moz.works
  only:
    changes:
      - "oregon-b/snippets-prod/*"
    refs:
      - master

deploy frankfurt prod:
  extends: .deploy
  variables:
    DEPLOYMENT: frankfurt/snippets-prod
    KUBECONFIG: /home/gitlab-runner/.kube/frankfurt.kubeconfig
    NEWRELIC_APP: snippets-prod-frankfurt
    URL: https://snippets-prod.frankfurt.moz.works
  only:
    changes:
      - "frankfurt/snippets-prod/*"
    refs:
      - master

deploy oregon-b admin:
  extends: .deploy
  variables:
    DEPLOYMENT: oregon-b/snippets-admin
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-b.kubeconfig
    NEWRELIC_APP: snippets-admin-oregon-b
    URL: https://snippets-admin.mozilla.org
  only:
    changes:
      - "oregon-b/snippets-admin/*"
    refs:
      - master

update image to bfb350f6
  oregon-b/snippets-stage/web-deploy.yaml
Due: deploy oregon-b stage

Set image to bfb350f6
  frankfurt/snippets-prod/web-deploy.yaml
Due: deploy frankfurt prod

Update image to 6efc1f83
  frankfurt/snippets-prod/web-deploy.yaml
Due: deploy frankfurt prod

Update web-deploy.yaml
  frankfurt/snippets-prod/web-deploy.yaml
Due: deploy frankfurt prod

Update image to 30bc19ee
  frankfurt/snippets-prod/web-deploy.yaml
Due: deploy frankfurt prod

update image to 30bc19ee
  oregon-b/snippets-stage/web-deploy.yaml
Due: deploy oregon-b stage

Add CDN_URL
  oregon-b/snippets-stage/web-deploy.yaml
Due: deploy oregon-b stage

Set image to c209614f
  oregon-b/snippets-stage/web-deploy.yaml
Due: deploy oregon-b stage

Set media paths
  oregon-b/snippets-stage/web-deploy.yaml
Due: deploy oregon-b stage

Set image c209614f
  oregon-b/snippets-stage/clock-deploy.yaml
Due: deploy oregon-b stage

Update media paths
  oregon-b/snippets-stage/clock-deploy.yaml
Due: deploy oregon-b stage

set image to mozorg/snippets:2179c213
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozorg/snippets:08900655
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozorg/snippets:08900655
  oregon-b/snippets-stage/clock-deploy.yaml
  oregon-b/snippets-stage/web-deploy.yaml
Due: deploy oregon-b stage

Set pregen bundle configuration
  oregon-b/snippets-prod/web-deploy.yaml
Due: deploy oregon-b prod

set image to mozorg/snippets:08900655
  frankfurt/snippets-prod/web-deploy.yaml
  oregon-b/snippets-prod/web-deploy.yaml
Due: deploy oregon-b prod, deploy frankfurt prod

set image to mozorg/snippets:08900655
  oregon-b/snippets-admin/clock-deploy.yaml
  oregon-b/snippets-admin/web-deploy.yaml
Due: deploy oregon-b admin

Enable pregen bundles
  frankfurt/snippets-prod/web-deploy.yaml
Due: deploy frankfurt prod

Enable pregen bundles in oregon
  oregon-b/snippets-prod/web-deploy.yaml
Due: deploy oregon-b prod

set image to mozorg/snippets:b58d637b
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozorg/snippets:b58d637b
  oregon-b/snippets-stage/clock-deploy.yaml
  oregon-b/snippets-stage/web-deploy.yaml
Due: deploy oregon-b stage

set image to mozorg/snippets:b58d637b
  oregon-b/snippets-admin/clock-deploy.yaml
  oregon-b/snippets-admin/web-deploy.yaml
Due: deploy oregon-b admin

set image to mozorg/snippets:b58d637b
  frankfurt/snippets-prod/web-deploy.yaml
  oregon-b/snippets-prod/web-deploy.yaml
Due: deploy oregon-b prod, deploy frankfurt prod

Add DEAD_MANS_SNITCH_FETCH_DAILY_METRICS
  oregon-b/snippets-admin/clock-deploy.yaml
Due: deploy oregon-b admin

set image to mozorg/snippets:3047cfcf
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozorg/snippets:3047cfcf
  oregon-b/snippets-stage/clock-deploy.yaml
  oregon-b/snippets-stage/web-deploy.yaml
Due: deploy oregon-b stage

set image to mozorg/snippets:3047cfcf
  oregon-b/snippets-admin/clock-deploy.yaml
  oregon-b/snippets-admin/web-deploy.yaml
Due: deploy oregon-b admin

set image to mozorg/snippets:3047cfcf
  frankfurt/snippets-prod/web-deploy.yaml
  oregon-b/snippets-prod/web-deploy.yaml
Due: deploy oregon-b prod, deploy frankfurt prod

set image to mozorg/snippets:ddbec1e6
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozorg/snippets:ddbec1e6
  oregon-b/snippets-admin/clock-deploy.yaml
  oregon-b/snippets-admin/web-deploy.yaml
Due: deploy oregon-b admin

set image to mozorg/snippets:ca4a3da1
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozorg/snippets:ca4a3da1
  oregon-b/snippets-stage/clock-deploy.yaml
  oregon-b/snippets-stage/web-deploy.yaml
Due: deploy oregon-b stage

set image to mozorg/snippets:ca4a3da1
  oregon-b/snippets-admin/clock-deploy.yaml
  oregon-b/snippets-admin/web-deploy.yaml
Due: deploy oregon-b admin

set image to mozorg/snippets:ca4a3da1
  frankfurt/snippets-prod/web-deploy.yaml
  oregon-b/snippets-prod/web-deploy.yaml
Due: deploy oregon-b prod, deploy frankfurt prod

set image to mozorg/snippets:219c5868
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozorg/snippets:52a099d0
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozorg/snippets:52a099d0
  oregon-b/snippets-admin/clock-deploy.yaml
  oregon-b/snippets-admin/web-deploy.yaml
Due: deploy oregon-b admin

set image to mozorg/snippets:52a099d0
  oregon-b/snippets-stage/clock-deploy.yaml
  oregon-b/snippets-stage/web-deploy.yaml
Due: deploy oregon-b stage

set image to mozorg/snippets:52a099d0
  frankfurt/snippets-prod/web-deploy.yaml
  oregon-b/snippets-prod/web-deploy.yaml
Due: deploy oregon-b prod, deploy frankfurt prod

set image to mozorg/snippets:f1bd2397
  oregon-b/snippets-dev/clock-deploy.yaml
  oregon-b/snippets-dev/web-deploy.yaml
Due: deploy oregon-b dev
